@page "/news"
@page "/"
@page "/index"

@if (_news == null)
{
    <div>Loading...</div>
}
else
{
 @foreach (var news in _news)
 {
  <h4>@news.Title</h4>
  <div>@news.Body</div>
  <a href="@news.Link">More...</a>
  <div class="bg-secondary">@news.CreationTime</div>
 }
}
