@page "/"
@page "/index"

<PageTitle>Index</PageTitle>

<div style="height: 480px; width: 100%; overflow: hidden">
    <iframe src="https://update.ascon.ru" frameborder="0" allowfullscreen height="100%" width="100%"></iframe>
</div>
